.card{
    position: relative;
}
.card img{
    width: 100%;
    display: block;
    border: 2px solid white;
    border-radius: 6px;
}

.card .front{
    transform: rotateY(90deg);
    position: absolute;
    transition: all ease-in 0.2s;
}

.fliped .front{
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back{
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.fliped .back{
    transform: rotateY(90deg);
    transition-delay:0s ;
}